:root {
  --mdui-color-shadow-dark: 200, 200, 200 !important;
  --mdui-color-status-stable-light: 51, 241, 51;
  --mdui-color-status-unstable-light: 232, 232, 44;
  --mdui-color-status-unknown-light: 184, 209, 209;
  --mdui-color-status-stable-dark: 26, 104, 26;
  --mdui-color-status-unstable-dark: 128, 128, 0;
  --mdui-color-status-unknown-dark: 88, 101, 101;
}

.mdui-theme-light {
  --mdui-color-status-stable: var(--mdui-color-status-stable-light);
  --mdui-color-status-unstable: var(--mdui-color-status-unstable-light);
  --mdui-color-status-unknown: var(--mdui-color-status-unknown-light);
}

.mdui-theme-dark {
  --mdui-color-status-stable: var(--mdui-color-status-stable-dark);
  --mdui-color-status-unstable: var(--mdui-color-status-unstable-dark);
  --mdui-color-status-unknown: var(--mdui-color-status-unknown-dark);
}

@media (prefers-color-scheme: light) {
  .mdui-theme-auto {
    --mdui-color-status-stable: var(--mdui-color-status-stable-light);
    --mdui-color-status-unstable: var(--mdui-color-status-unstable-light);
    --mdui-color-status-unknown: var(--mdui-color-status-unknown-light);
  }
}

@media (prefers-color-scheme: dark) {
  .mdui-theme-auto {
    --mdui-color-status-stable: var(--mdui-color-status-stable-dark);
    --mdui-color-status-unstable: var(--mdui-color-status-unstable-dark);
    --mdui-color-status-unknown: var(--mdui-color-status-unknown-dark);
  }
}

body {
  margin: 0;
}

a {
	color: rgb(var(--mdui-color-primary));
	text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.title {
  color: rgb(var(--mdui-color-on-background));
}

a.title:hover {
  color: rgb(var(--mdui-color-on-background));
	text-decoration: none;
}

.content {
  margin: 20px;
  transition: opacity 0.5s;
}

.content.loading-disabled {
  opacity: 0.5;
  pointer-events: none;
}

p {
  line-height: 160%;
}

mdui-chip {
  margin: 0 4px;
}