@import url('~~/node_modules/mdui/mdui.css');

:root {
  --mdui-color-link-light: 255, 64, 129;
  --mdui-color-link-hover-light: 255, 24, 105;
  --mdui-color-link-dark: 254, 160, 201;
  --mdui-color-link-hover-dark: 238, 109, 154;
}

a {
	color: rgb(var(--mdui-color-link));
	text-decoration: none;
}

a:hover {
	color: rgb(var(--mdui-color-link-hover));
  text-decoration: underline;
}

a.top-title {
  margin: 0 4px;
}

a.title {
  color: rgb(var(--mdui-color-text));
}

a.title:hover {
  color: rgb(var(--mdui-color-text));
	text-decoration: none;
}

.small-title {
  font-size: 16px;
}

.content {
  margin: 10px;
}

p {
  line-height: 160%;
}